h1{
  font-size: 3rem;
  font-weight: 400;
}
h4{
  padding-top:10px;
}
p{
  font-size: 12px;
  font-weight: 200;

}
body{
  background:#e0e0e0; /* FALL BACK COLOR */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-image: url("images/bg-clear-day.jpg"); */
}
.getWeather{
    display: block;
    text-align: center;
}
.weatherImg{
  padding-top:10px;
  margin: auto;
}

.weatherCardImg{
  height: 80px;
  margin: auto;
}
.lessenPadding{
  padding:10px !important;
}
.lessenMargin{
  margin-top:10px;
  margin-bottom:10px;
}

.tempSwitch{
  padding: 20px;
}

#weatherContainer{
  margin-top: -18px;
  background-color: rgba(245, 245, 245, 0.3);
}
#cardContainer{
  width:80%;
}
#weatherDetails{
  width:50%;
}
#currentFetchDate{
  font-size:12px;
}
#currentDayTemp{
  font-size: 26px;
}
